enum34==1.1.10
pyserial==3.4
PyDispatcher==2.0.5
bottle==0.12.18
Sphinx==1.8.5
yappi==1.2.4
intelhex==2.2.1
openwsn-coap==0.0.3
pycryptodome==3.9.7
cbor==1.0.0
hkdf==0.0.3
paho-mqtt==1.5.0
scapy==2.4.3
pytest==4.6.9